[include]
path = ~/dotfiles/git/user.conf

[core]
# エディタをvscodeに設定
editor = code --wait

[alias]
a = add
c = commit
br = branch
co = checkout
st = status

[init]
templateDir = /Users/annosukeyokoo/.git-template
defaultBranch = main

[fetch]
prune = true

[pull]
ff = only
rebase = true

[http]
postBuffer = 157286400
